<footer class="footer">
    <div class="container container--footer">
      <h3 class="default-title footer__title">- get in touch with us -</h3>
      <p class="footer__text">Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio. Curabitur blandit tempus porttitor vollisky inceptos mollisestor.</p>
        <ul class="logo-container">
            <li class="logo-item"><a href="#" class="logo-item__link"><img class="logo-item__img" src="./dist/img/icons-picture/rss.png" alt="rss" width="10" height="9"></a></li>
            <li class="logo-item"><a href="#" class="logo-item__link"><img class="logo-item__img" src="./dist/img/icons-picture/facebook.png" alt="facebook" width="9" height="12"></a></li>
            <li class="logo-item"><a href="#" class="logo-item__link"><img class="logo-item__img" src="./dist/img/icons-picture/twitter.png" alt="twitter" width="9" height="12"></a></li>
            <li class="logo-item"><a href="#" class="logo-item__link"><img class="logo-item__img" src="./dist/img/icons-picture/wheel.png" alt="wheel" width="9" height="12"></a></li>
            <li class="logo-item"><a href="#" class="logo-item__link"><img class="logo-item__img" src="./dist/img/icons-picture/pinterest.png" alt="pinterest" width="10" height="12"></a></li>
        </ul>
        <address class="address">Moonshine St. 14-05 Light City<span>/</span><a href="tel:+001234567890" class="address__links">T. +00 (123) 456 78 90</a><span>/</span><a class="address__links" href="mailto:first.last@email.com">first.last@email.com</a></address>
    </div>
</footer>