<header class="header">
    <div class="container">
        <nav class="nav-menu">
            <ul class="nav-menu__list">
                <li class="nav-menu__item"><a href="#" class="nav-menu__link">Home</a></li>
                <li class="nav-menu__item"><a href="#" class="nav-menu__link">About Us</a></li>
                <li class="nav-menu__item"><a href="#" class="nav-menu__link">Our Journal</a></li>
                <li class="nav-menu__item"><a href="#" class="nav-menu__link">Projects</a></li>
                <li class="nav-menu__item"><a href="#" class="nav-menu__link">news</a></li>
                <li class="nav-menu__item"><a href="#" class="nav-menu__link">features</a></li>
                <li class="nav-menu__item"><a href="#" class="nav-menu__link">contact</a></li>
            </ul>
            <button type="button" class="button-burger"><span class="button-burger__element"></span></button>
        </nav>
        <img class="main-photo" src="./dist/img/main-photo.png" alt="railway">
    </div>
</header>