<section class="latest-instagram-shots">
    <div class="container">
        <div class="title-container">
            <h2 class="default-title title-container__title">- Latest Instagram Shots</h2>
            <h3 class="title-container__subtitle subtitle"><a href="#" class="subtitle__link">go to our instagram page -</a></h3>
        </div>
      <ul class="photos-list">
        <li class="photos-item"><img src="./dist/img/latest%20instagram%20shots/bicycle.png" alt="bicycle" class="photos-item__img" width="285" height="285"></li>
        <li class="photos-item"><img src="./dist/img/latest%20instagram%20shots/door.png" alt="door" class="photos-item__img" width="285" height="285"></li>
        <li class="photos-item"><img src="./dist/img/latest%20instagram%20shots/wires.png" alt="wires" class="photos-item__img" width="285" height="285"></li>
        <li class="photos-item"><img src="./dist/img/latest%20instagram%20shots/car.png" alt="car" class="photos-item__img" width="285" height="285"></li>
      </ul>
    </div>
</section>