<section class="our-recent-posts">
    <div class="container">
        <h2 class="default-title our-recent-posts__title">- our Recent posts</h2>
        <ul class="posts-list">
            <li class="posts-list__item list-item"><img class="list-item__img" src="./dist/img/posts%20photos/kettle.png" alt="kettle" width="160" height="140">
                <div class="list-item__content-wrapper">
                <h3 class="list-item__title">Aenean Adipiscing Etiam Vestibulum</h3>
                <p class="list-item__subtitle">Photography, Journal<span>/</span>9 Comments</p>
                    <p class="list-item__text">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p></div>
            </li>
            <li class="posts-list__item list-item"><img class="list-item__img" src="./dist/img/posts%20photos/table.png" alt="table" width="160" height="140">
                <div class="list-item__content-wrapper">
                <h3 class="list-item__title">Aenean Adipiscing Etiam Vestibulum</h3>
                <p class="list-item__subtitle">Photography, Journal<span>/</span>9 Comments</p>
                <p class="list-item__text">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p></div>
            </li>
            <li class="posts-list__item list-item"><img class="list-item__img" src="./dist/img/posts%20photos/umbrella.png" alt="umbrella" width="160" height="140">
                <div class="list-item__content-wrapper">
                <h3 class="list-item__title">Aenean Adipiscing Etiam Vestibulum</h3>
                <p class="list-item__subtitle">Photography, Journal<span>/</span>9 Comments</p>
                <p class="list-item__text">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                </div>
            </li>
            <li class="posts-list__item list-item"><img class="list-item__img" src="./dist/img/posts%20photos/flowers.png" alt="flowers" width="160" height="140">
                <div class="list-item__content-wrapper">
                <h3 class="list-item__title">Aenean Adipiscing Etiam Vestibulum</h3>
                <p class="list-item__subtitle">Photography, Journal<span>/</span>9 Comments</p>
                <p class="list-item__text">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                </div>
            </li>
        </ul>
    </div>
</section>