.footer{
  padding-top: 66px;
  padding-bottom: 70px;
  background-color: #000;
  @media (max-width: 992px) {
    padding-bottom: 56px;
  }
  @media (max-width: 481px) {
    padding-bottom: 47px;
  }
  &__title{
    color: $whiteColor;
    margin-top: 0;
    margin-bottom: 22px;
    text-align: center;
    @media (max-width: 481px) {
      margin-bottom: 8px;
    }
  }
  &__text{
    line-height: 28px;
    color: $whiteGrayColor;
    text-align: center;
    margin-top: 0;
    margin-bottom: 37px;
    @media (max-width: 481px) {
      margin-bottom: 26px;
    }
  }
}
.logo-container{
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 34px;
  gap: 5px;
  @media (max-width: 481px) {
    margin-bottom: 25px;
  }
}
.logo-item{
  padding: 12px;
  border-radius: 50%;
  @mixin border($color){
    border: 2px solid $color;
  }
  &:first-of-type{
    @include border(#bf6f23)
  }
  &:nth-of-type(2){
    @include border(#2c447a)
  }
  &:nth-of-type(3){
    @include border(#3587af)
  }
  &:nth-of-type(4){
    @include border(#a75e87)
  }
  &:last-of-type{
    @include border(#9d1922)
  }
  &__img{
    display: block;
    width: 12px;
    height: 12px;
  }
}
.address{
  color: $whiteGrayColor;
  text-align: center;
  line-height: 26px;
  font-style: normal;
  span{
    margin-left: 10px;
    margin-right: 10px;
  }
&__links{
  color: $whiteGrayColor;
  text-decoration-line: none;
}
}
