body{
  font-family: 'Ubuntu', sans-serif;
}
.container{
    @media (max-width: 992px) {
      max-width: 768px;
    }
  &--footer{
    max-width: 684px;
  }
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  @media (max-width: 481px) {
    padding-left: 25px;
    padding-right: 25px;
  }
}
.default-title{
  text-transform: uppercase;
  font-weight: 700;
  line-height: 22px;
  font-size: 16px;
  color: $darkColor;
  @media (max-width: 481px) {
    font-size: 14px;
  }
}