.header{
}
.nav-menu{
  position: relative;
  max-width: 813px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 45px;
  @media (max-width: 992px) {
    padding-top: 41px;
    max-width: 609px;
  }
  @media (max-width:768px) {
    padding-top: 41px;
    max-width: 100%;
  }
  &__list {
    z-index: 2;
    margin-bottom: 0;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    list-style-type: none;
    @media (max-width: 768px) {
      display: none;
      &.nav-menu--mobile {
        right: 0;
        top: 60px;
        position: absolute;
        padding-top: 0;
          display: block;
        width: 48.79vw;
        background-color: #F5F5F5;
      }
    }
  }
  &__link{
    color: $darkColor;
    text-decoration-line: none;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 1.1px;
    @media (max-width: 768px){
      padding-left: 13px;
      height: 30px;
      display: flex;
      align-items: center;
      &:hover{
        background-color: #E5E5E5;
      }
    }
    &:hover{
      color: #57A4A4;
      transition: color 0.3s;
    }
    }
  }


.button-burger{
  display: none;
  position: absolute;
  top: 23px;
  right: 0;
  width: 44px;
  height: 37px;
  background-color: #000;
  border: none;
  padding-left: 0;
  padding-right: 0;
  &::before{
    @include pseudoBurger(13px,13px,false, false);
  }
  &::after{
    @include pseudoBurger(21px,13px,false, false);
  }
  &__element{
    display: block;
    position: absolute;
    top: 17px;
    left: 13px;
    width: 17px;
    height: 2px;
    background-color: #fff;
  }
  &--active{
    &.button-burger::before{
      @include pseudoBurger(18px,13px,true, true);
    }
    &.button-burger::after{
      @include pseudoBurger(18px,13px,true, false);
    }
    .button-burger__element{
      display: none;
    }
  }
  @media (max-width: 768px) {
    display: block;
  }
}
.main-photo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 51px;
  width: 100%;
  @media (max-width: 992px) {
    max-width: 768px;
    margin-top: 43px;
  }
  @media (max-width: 768px) {
    margin-top: 42px;
  }
}


