.latest-instagram-shots{
  background-color: #f7f7f7;
  padding-bottom: 50px;
  @media (max-width:481px){
    background-color: #fff;
    padding-bottom: 42px;
    }
}
.title-container{
  display: flex;
  justify-content: space-between;
  padding-top: 47px;
  padding-bottom: 24px;
  &__title{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
  }
  &__subtitle{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 13px;
    line-height: 22px;
    text-transform: uppercase;
    @media (max-width:768px){
      display: none;
    }
  }
  @media (max-width:992px){
    padding-bottom: 35px;
  }
  @media (max-width:481px){
    padding-top: 38px;
    padding-bottom: 13px;
  }
}
.subtitle{
  &__link{
    color: $darkColor;
    text-decoration-line: none;
  }
}
.photos-list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  display: grid;
  column-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(23%, 1fr));
  justify-items: center;
  @media (max-width: 992px) {
    grid-template-columns: repeat(auto-fit, minmax(32.3%, 1fr));
  }
}
.photos-item{
  height: auto;
  @media (max-width:992px){
    &:last-of-type{
      display: none;
    }
  }
  @media (max-width:673px) {
    &:nth-last-of-type(2) {
      display: none;
    }
  }
  @media (max-width:481px){
    width: 80.68vw;
    &:nth-of-type(n+2){
      display: none;
    }
  }
&__img{
  height: auto;
  width: 100%;
  object-fit: contain;
}
}
