@mixin pseudoBurger($top, $left, $active, $position-top){
  position: absolute;
  content: "";
  width: 17px;
  height: 2px;
  background-color: #fff;
  top: $top;
  left: $left;
  transition: transform, 0.2s;
  @if $active{
    @if $position-top {
      transform: rotate(45deg);
    }
    @else {
      transform: rotate(-45deg);
    }
  }
}