.our-recent-posts{
  &__title{
    margin-top: 66px;
    margin-bottom: 24px;
    @media (max-width: 992px) {
      margin-top: 56px;
    }
    @media (max-width: 481px) {
      margin-top: 38px;
    }
  }
}
.posts-list{
  margin: 0 auto 69px auto;
  max-width: 1165px;
  display: flex;
  justify-content: center;
  column-gap: 5px;
  flex-wrap: wrap;
  padding-left: 0;
  list-style-type: none;
  @media (max-width:1053px) {
    justify-content: start;
    flex-wrap: wrap-reverse;
    flex-direction:column;
    align-items: start;
    margin-bottom: 60px;
  }
  @media (max-width:481px) {
    margin-bottom: 26.5px;
    }
}
.list-item{
  display: flex;
  margin-bottom: 32px;
  max-width: 49.658%;
  @media (max-width:1053px) {
    max-width: 555px;
  }
  @media (max-width:481px) {
    &:last-of-type{
      display: none;
    }
  }
  @media (max-width:481px) {
    display: block;
  }
  &__img{
    margin-right: 21px;
  }
  &__title{
    font-weight: 700;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: $darkColor;
    @media (max-width:481px){
      font-size: 14px;
      margin-top: 11px;
    }
  }
  &__subtitle{
    margin-top: 0;
    margin-bottom: 13px;
    color: $greyLightColor;
    font-size: 12px;
    line-height: 20px;
    @media (max-width:481px){
      font-size: 11px;
      margin-bottom: 0;
    }
    & span{
      margin-left:8px;
      margin-right: 8px;
    }
  }
  &__text{
    margin-top: 0;
    margin-bottom: 0;
    color: $greyDarkColor;
    font-size: 14px;
    line-height: 26px;
    @media (max-width:481px){
      display: none;
    }
  }
}